body {
    background-color: rgb(189, 45, 45);
    font-family: roboto;
    overflow: hidden;
}

:root {
    --menu-move:cubic-bezier(0,.1,.37,.97);
}

.moving_menu {
    position: absolute;
    top: 23%;
    left: 25%;
    display: flex;
    gap: 9rem;
}

.setting_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
    width: 5rem;
}

.setting_item.js_si_selected .set_drop {
    display: flex;
}

.set_drop {
    display: none;
    gap: 1rem;
    align-items: center;
}

.set_drop .discription {
    width: 30rem;
    color: white;
}

.set_drop .title {
    font-size: 2.5rem;
}

.set_drop .subtext {
    display: none;
}

.set_drop#selected {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}

.set_drop#selected .title {
    animation: glow 0.6s infinite alternate;
}

.set_drop#selected .subtext {
    display: block;
}

.set_drop#selected .icon_s {
    width: 98px;
    height: 98px;
}

.icon {
    background-color: gray;
    width: 90px;
    height: 90px;
}

.icon_s {
    background-color: gray;
    width: 80px;
    height: 80px;
}

.focus_point_1 {
    border-left: solid 2px rgb(43, 255, 0);
    position: absolute;
    left: 25%;
    width: 1rem;
    height: 100%;
}

.focus_point_2 {
    border-top: solid 2px rgb(60, 31, 223);
    position: absolute;
    top: 35%;
    height: 1rem;
    width: 100%;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px white, 0 0 10px white, 0 0 24px white;
    }
    50% {
        text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px white;
    }
    100% {
        text-shadow: 0 0 30px white, 0 0 40px white, 0 0 50px white;
    }
}

@keyframes move_to_pos_1 {
    0% {
        left: calc(23%);
    }

    100% {
        left: calc(23% + 9rem);
    }
    
}

@keyframes move_to_pos_2 {
    0% {
        left: calc(23% - 9rem) ;
    }

    100% {
        left: calc(23% - 13rem);
    }
}

@keyframes move_to_pos_3 {
    0% {
        left: calc(23% - 18rem);
    }

    100% {
        left: calc(23% - 27rem);
    }
}